<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
<style>
    .form-box{
      display: inline-block;
         position: fixed;
         top: 0;
         left: 0;
         right: 0;
         width: 300px;
         height: 1px;
         margin: auto;
         margin-top: 140px;
    }
    body{
      background: rgba(226,226,226,1);
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
  }
  </style>
</head>
<html>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Learning Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/assigncourses" >Assign subjects</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Logout</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="form-box">
            <% if(typeof err != 'undefined') { %>
                    <h1><%= err %></h1>

                <% } %>
        <form method='POST' action='adduser'>
          <h4 align="center">Add Users</h4>

            <div class="form-group">
              <label for="">Name</label>
              <input type="text" name="name" id="" class="form-control" placeholder="" aria-describedby="helpId">
            </div>
            <div class="form-group">
                <label for="my-input">Userid</label>
                <input id="my-input" class="form-control" type="text" name="userid">
                <div class="id error"></div>
            </div>
            <div class="form-group">
                <label for="my-input">Password</label>
                <input id="my-input" class="form-control" type="password" name="password">
                <div class="password error"></div>
            </div>
            <div class="form-group">
                <label for="my-input">Role</label>
                <input id="my-input" class="form-control" type="text" name="role">
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        </div>
        <script>
          const form = document.querySelector('form');
          const IdError = document.querySelector('.id.error');
          form.addEventListener('submit',async (e)=>{
            e.preventDefault();
            IdError.textContent = '';
            const name = form.name.value;
            const userid = form.userid.value;
            const password = form.password.value;
            const role = form.role.value;
            try{
              const res = await fetch('/adduser',{
                method: 'POST',
                body: JSON.stringify({name, userid, password, role}),
                headers: {'content-type' : 'application/json'}
              });
              const data = await res.json();
              console.log(data);
              if(data.errors){
                IdError.textContent = data.errors.userid;
              }
              if(data.user){
                location.assign('/adduser');
              }
            }

            catch(err){
              console.log(err);
            }

          });
        </script>
    </body>
</html>