<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/30eb83224b.js" crossorigin="anonymous"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<style>
  .form-box{
    display: inline-block;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       width: 350px;
       height: 1px;
       margin: auto;
       margin-top: 160px;

  }
  body{
    background: rgba(226,226,226,1);
background: -moz-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
background: linear-gradient(135deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
    color: black;
  }
  .btn{
    background-color: white;
    color: black;
  }
  .btn:hover{
    background-color: black;
    color: white;
  }

  .type-container{
  position: relative;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;  
  align-items: center;
}

#line{
  position: relative;
}

.cursor{
  height: 2rem;
  width: 2px;
  margin-left:2px;
  background: rgba(255,255,255,.75);
  animation: blinkTextCursor 800ms infinite;
}

@keyframes blinkTextCursor{
  from{opacity: 1;}
  to{opacity: 0;}
}
</style>
</head>
<html>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Learning Management System</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/"">Home <span class="sr-only">(current)</span></a>
          </li>
      
        </ul>
      </div>
    </nav>
    <%  if(typeof error != 'undefined') { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <h5 align="center"><%= error %></h5>
      </div>
      <% } %>
      <div class="container-fluid" >
      <h4 style="padding-top: 10px">Chaitanya Bharathi Institute of Technology(Autonomous) - LMS</h4>
      </div>
    <div class='form-box'>
      <h4 align="center" style="color: black;">Login</h4>
    <form method="POST" action="/">
      <div class="form-group">
        <label for="my-input">UserId</label>
        <input id="my-input" class="form-control" type="text" name="userid">
        <div class="id error" style="color: red;"></div>
      </div>
      <div class="form-group">
        <label for="">Password</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="" aria-describedby="helpId">
        <div class="password error" style="color: red;"></div>
      </div>
      <button type="submit" class="btn" value="submit">Submit</button>
    </form>
    </div>
  <script>
    const form = document.querySelector('form');
          const IdError = document.querySelector('.id.error');
          const passwordError = document.querySelector('.password.error');
          form.addEventListener('submit',async (e)=>{
            e.preventDefault();
            IdError.textContent = '';
            passwordError.textContent = '';
            const userid = form.userid.value;
            const password = form.password.value;
            try{
              const res = await fetch('/',{
                method: 'POST',
                body: JSON.stringify({userid, password}),
                headers: {'content-type' : 'application/json'}
              });
              const data = await res.json();
              if(data.errors){
                IdError.textContent = data.errors.userid;
                passwordError.textContent = data.errors.password;
              }
              if(data.user){
              location.assign('/dashboard');
              }
            }
            catch(err){
              console.log(err);
            }
          });
  </script>  
  </div>
  </body>
</html>